# Compiled executable
sched

# Test data extracted from included tar-ball
data1/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
